body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table_overall {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.skill_table {
  outline: auto;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  justify-content: space-between;
}

.equip_table {
  outline: auto;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  justify-content: space-between;
}

.counter_table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  height: 59px;
}

.counter_table:nth-child(odd) {
  background-color: white;
  transition: 0.3s;
}

.counter_table:nth-child(even) {
  background-color: #F0F8FF;
  transition: 0.3s;
}

.counter_table:nth-child(odd):hover {
  background-color: #bbf2bd;
}

.counter_table:nth-child(even):hover {
  background-color: #9cdced;
}

.icon_image {
  margin: 10px;
  display:inline-table;
}

.text {
  display: inline-table;
  width: 120px;
  margin-right: auto;
}

.label {
  display: inline-table;
  width: 200px;
}

.checkbox{
  display: inline-table;
  margin-right: 10px;
}

.select_option {
  display: inline-block;
  margin: 10px;
  padding-left: 3px;
}

.input_field {
  display: flex;
  flex-direction: column;
  outline: auto;
  border-radius: 10px;
  margin: 10px 5px;
}

.div-defense {
  margin: auto;
}

.table_header {
  display: flex;
  min-height: 40px;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #ffcfd2;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.input_main_table {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: auto;
  outline: auto;
  justify-content: space-evenly;
}

.input_table {
  padding: 10px;
}

.input_table:hover {
  background-color: #c5e2fc;
  transition: 0.3s;
}

.input {
  border-radius: 10px;
  padding-left: 10px;
  margin-left: 10px;
  float: right;
  max-width: 70px;
}

.input:focus {
  background-color: #fbf8cc;
}


.div-wse-compare {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.div-wse-compare-table {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 0px 20px;
}

.div-wse-2-tables {
  display: flex;
  flex-direction: column;
}

.counters-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-self: flex-start;
}

.group-header-wse-left {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  margin: 0px;
  background-color: #b9fbc0;
}

.group-header-wse-right {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  margin: 0px;
  background-color: #ffc300;
}

.table-header-weapon {
  display: flex;
  height: 58px;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #ffcfd2;
}

.table-header-secondary {
  display: flex;
  height: 58px;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #f1c0e8;
}

.table-header-emblem {
  display: flex;
  height: 58px;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #cfbaf0;
}

.last-div-wse {
  display: flex;
  flex-direction: row;
}

.div-wse-group {
  display: flex;
  flex-direction: column;
  outline: auto;
  margin: 10px;
}

.counters_div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-self: flex-start;
}

.wse_div {
  width: 100%;
  margin: 20px 50px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.wse_table {
  display: flex;
  flex-direction: column;
  outline: auto;
  border-radius: 10px;
  margin: 10px 5px;
  min-width: 230px;
}

.wse_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
}

.selection_label {
  padding-left: 10px;
  margin-right: auto;
}

.selection_option {
  margin: 10px;
  padding-left: 3px;
}

.selection_row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.selection_row:hover {
  border-radius: 10px;
  background-color: #c5e2fc;
  transition: 0.3s;
}

.selection-row-wse {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.selection-row-wse:hover {
  background-color: #c5e2fc;
  transition: 0.3s;
}

.stats_div {
  position: relative;
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  width: fit-content;
}

.stats-details{
  outline: auto;
  border-radius: 10px;
  margin: 20px;
  width: 280px;
  /* padding: 0.5rem; */
}

.stats-table{
  width: 100%;
  border-collapse: collapse;
}

.stats-header-1{
  font-size: larger;
  font-weight: bold;
  /* background-color: #D4F1F4; */
  background-color: #b9fbc0;
  justify-content: center;
  margin: 0px;
  padding: 12px 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.stats-header-2{
  font-size: larger;
  font-weight: bold;
  /* background-color: #D4F1F4; */
  background-color: #ffc300;
  justify-content: center;
  margin: 0px;
  padding: 12px 0px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.th,
.td {
  border: 0;
  font-weight: normal;
  text-align: left;
  padding: 0.6rem 1.5rem;
  white-space: nowrap;
  border-top: 1px solid black;
}
.td:last-child {
  text-align: right;
}



.image-label-test {
  position: absolute;
  top: 78px;
  left: 80px;
  font-size: 14px;
  color: red;
}

.image-label-boss {
  position: absolute;
  top: 60px;
  left: 192px;
  font-size: 14px;
}

.image-label-boss-def {
  position: absolute;
  top: 78px;
  left: 160px;
  font-size: 14px;
  font-weight: bold;
}

.image-label-damage {
  position: absolute;
  top: 60px;
  left: 82px;
  font-size: 14px;
}

.image-label-ied {
  position: absolute;
  top: 96px;
  left: 80px;
  font-size: 14px;
}

.image-label-att {
  position: absolute;
  top: 25px;
  left: 80px;
  font-size: 14px;
}

.image-label-matt {
  position: absolute;
  top: 42px;
  left: 80px;
  font-size: 14px;
}

.image-label-iedFinal {
  position: absolute;
  top: 113px;
  left: 15px;
  font-size: 14px;
}

.image-label-final {
  position: absolute;
  top: 131px;
  left: 15px;
  font-size: 14px;
  font-weight: bold;
}

/* to be removed */
.table2 {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  outline: auto;
  border-radius: 10px;
}

.input-field {
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  margin: auto;
  margin-top: 20px;
  background-color: #faedcd;
  width: 60%;
}

.table-sub {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: auto;
  outline: auto;
  width: 60%;
  justify-content: space-around;
}

.div-results-right {
  width: 60%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffc300;
}

.div-results-same {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e0fbfc;
}

.div-results-left {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #b9fbc0;
}

/* CSS */
.button-duplicate {
  display: block;
  margin: auto;
  background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

/* .button-duplicate:hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
} */

.button-duplicate:active {
  transform: scale(1.025);
}

/* for buttons */

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

*:focus {
  outline: none;
}

.toggle-button-cover {
  display: table-cell;
  position: relative;
  width: 200px;
  height: 40px;
  box-sizing: border-box;
}

.button-cover {
  height: 40px;
  margin: 5px;
  /*background-color: #fff;
  box-shadow: 0 10px 20px -8px #c5d6d6; */
  border-radius: 4px;
}

.button-cover:before {
  counter-increment: button-counter;
  content: counter(button-counter);
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  margin: -20px auto 0 auto;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.checkbox-button {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #ebf7fc;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 1 */

#button-1 .knobs:before {
  content: "Wa";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #03a9f4;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox-button:checked + .knobs:before {
  content: "Ma";
  left: 42px;
  background-color: #f44336;
}

#button-1 .checkbox-button:checked ~ .layer {
  background-color: #fcebeb;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
  transition: 0.3s ease all;
}
